numpy
pandas
matplotlib
pylint

nashpy
scipy
streamlit
plotly

requests
pyarrow
PyYAML
web3
streamlit-autorefresh


# numpy>=1.26,<3
# pandas>=2.2,<3
# matplotlib>=3.8,<4
# pylint>=3,<4

# nashpy>=0.0.41,<1
# scipy>=1.11,<2
# streamlit>=1.33,<2
# plotly>=5.20,<6

# requests>=2.31,<3
# pyarrow>=15,<20
